/*VARIABLES*/
:root {
    --primary-color: indigo;
    --x-color: firebrick;
    --o-color: forestgreen;
}

body {
    background: #eee;
}

.container {
    max-width: 400px;
}

.row {
    padding: 5px 0 5px 0;
}

.row#rowPtX,
.row#rowPtO {
    padding: 0;
}

h1 {
    color: var(--primary-color);
    font-weight: bold;
}

i {
    float: right;
    cursor: pointer;
    color: #888;
}

i:hover {
    color: #444;
}

button {
    font-size: 4rem;
    font-weight: bold;
    color: #444;
    border: 1px solid #eee;
    height: 120px;
}

button:hover {
    background-color: #888;
}

button:focus {
    /*outline-color: var(--primary-color);*/
    outline: none;
}

.x {
    color: var(--x-color);
}

.o {
    color: var(--o-color);
}

input {
    width: 15%;
    background: #FEFEFE;
    color: #444;
    text-align: center;
    font-size: 1.2rem;
}

input:nth-of-type(1) {
    color: var(--x-color);
    border: 1px solid var(--x-color);
}

input:nth-of-type(2) {
    color: var(--o-color);
    border: 1px solid var(--o-color);
}

span#res {
    text-align: center;
    display: none;
    padding: 10px;
    background-color: #fefefe;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

#spanPtX,
#spanPtO {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 15%;
    color: #FFF;
}

#spanPtX {
    background-color: var(--x-color);
    border: 1px solid var(--x-color);
}

#spanPtO {
    background-color: var(--o-color);
    border: 1px solid var(--o-color);
}

strong {
    color: var(--primary-color);
}

@media (max-width: 576px) {
    body {
        padding-top: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        height: 100px;
    }

    span#res {
        font-size: 0.94rem;
    }
}
